/* .Jumbotron {
    margin: 40px;
    border: 5px dotted pink;
    background-color:lightskyblue;
  }
  
  .Jumbotron_content {
    font-size: 15px;
    text-align: center;
  }
  h1{
      font:Red;
  } */